<li>
  <% unless current_user == user%>
    <% if current_user.friend_with?(user)%>
      <% return %>
    <% elsif !current_user.pending_friends.include?(user) %>
      <%= user.name%>
      <%= button_to 'Send Request', friendships_path, params: {:id   => user.id }  %>
    <% end %>
  <% end %>
</li>