<section class="users-section">
  <h2>Name: <%= current_user.name %></h2>
  <span class="profile-link">
      <%= link_to 'Your Profile',  user_path(current_user), class: 'profile-link' %>
  </span>
  <h2>People You May Know</h2>
  <div class="users-list">
    <%= render @users %>
  </div>
</section>
