<section class="users-section">
  <%= render 'profile_info'%>
  <h2 class="page-heading">All Users</h2>
  <div class="underline"></div>
  <div class="users-list">
    <%= render @users %>
  </div>
</section>
