<section class="user-section">
  <div class="d-flex justify-center">
    <%= render 'profile_info'%>
  </div>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
